<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= link_to  @tweet.user.username, show_user_path(id: @tweet.user.id) %>
</p>
<p>
  <strong>Message:</strong>
  <%= @tweet.message.html_safe %>
</p>



<%= link_to 'Edit', edit_tweet_path(@tweet) %> |
<%= link_to 'Back', tweets_path %>
