<div class="row">
  <% @users.each do |user| %>
    <div class="col-md-3">
      <div class="well user-list-wells">
        <div class="row">
          <div class="col-md-6">
            <% if user.avatar.url == nil %>
              <p>no pic</p>
            <% else %>
              <%= image_tag user.avatar.url %>
            <% end %>
          </div>
          <div class="col-md-6">
            <p>
              <% if current_user.following.include?(user.id) %>
                <%= link_to  "Following", unfollow_path(id: user.id), class:"btn btn-primary", id: "unfollowbtn" %>
              <% else %>
                <% if current_user.id != user.id %>
                  <%= link_to  "Follow", now_following_path(id: user.id), class:"btn btn-primary" %>
                <% end %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="row">
          <%= link_to  show_user_path(id: user.id) do %>
            <h3><%= user.name %></h3>
            <p><%= "@"+ user.username %></p>
          <% end %>
          <p><%= user.bio %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>