<h1>@<%= @user.username %>'s Profile & Tweets'</h1>

<p><%= @user.name %></p>
<p><%= @user.location %></p>
<p><%= @user.bio %></p>

<p>
  <% if current_user.following.include?(@user.id) %>
    <%= link_to  "Unfollow", unfollow_path(id: @user.id), class:"btn btn-danger" %>
  <% else %>
    <% if current_user.id != @user.id %>
      <%= link_to  "Follow", now_following_path(id: @user.id), class:"btn btn-primary" %>
    <% end %>
  <% end %>
</p>

<% @user.tweets.each do |tweet| %>
  <div>
    <p>@<%= @user.username %></p>
    <p><%= tweet.message.html_safe %></p>
  </div>
<% end %>