<div>
  <h1><%= @tag.phrase %></h1>
</div>
<div class="row">
  <div>
    <% @tag.tweets.order(created_at: :desc).each do |tweet| %>
      <p>
        <%= tweet.user.name %> <%= "@#{tweet.user.username}" %>
        <%= time_ago_in_words(tweet.created_at) %>
      </p>
      <p><%= tweet.message.html_safe %></p>
    <% end %>
  </div>
</div>